language: python
python:
    - 3.7
    - 3.8
before_install:
    - git clone --quiet --depth 1 https://github.com/minrk/travis-wheels travis-wheels
install:
    - pip install --upgrade pip
    - pip install --upgrade setuptools
    - pip install mypy darker pep517 check-manifest
    - pip install -f travis-wheels/wheelhouse --pre -e . coveralls
    - python -m ipykernel.kernelspec --user
script:
    - python -m pep517.build .
    - check-manifest
    - nosetests --with-coverage --cover-package=jupyter_console jupyter_console
    - darker -r ac4cf65598ea417f6b69a80c162904bbce7547b3 jupyter_console
    - mypy jupyter_console
after_success:
    - coveralls
